@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=RocknRoll+One&display=swap');

:root {
  --main-col: #393842;
}

body {
  font-size: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,9,121,1) 8%, rgba(2,156,218,1) 82%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
}

.title {
  margin-bottom: 80px;
}

.title h1 {
  font-family: 'Dela Gothic One', cursive;
  line-height: 2;
  letter-spacing: 10px;
  margin: 20px 0px;

}

.title p {
  font-family: 'Dela Gothic One', cursive;
  font-size: 20px;
  margin: 0px;
  color: black;
  letter-spacing: 5px;
}

.player-section {
  font-family: 'RocknRoll One', sans-serif;
}

.player-section img {
  width: 100px;
  height: auto;
  color: black;
}

.player-section .player-1 {
  margin: 0 30px;
  display: inline-block;
}

.player-section .player-2 {
  margin: 0 15px;
  display: inline-block;
}

.player-section .btn {
  display: block;
  margin: 20px auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .player-section .player-1 {
    margin: 0px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .player-section .player-2 {
    margin: 0px;
    padding-left: 10px;
  }
}

.btn {
  font-family: Hack, monospace;
  background: #d3d3d3;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 20px;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: 150px;
  position: relative;
  max-width: 250px;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: inherit;
    font-size: 15px;
  }
}


.btn:hover {
  background: black;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px white;
  color: white;
}

.btn::after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#footer p{
  font-family: Hack, monospace;
  font-size: 20px;
}

#footer a {
  color: black;
  text-decoration: none;
  transition: 0.8s;
}

#footer a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.8s;
}
